* {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.field {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}