/* * {
    border: 1px solid black;
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    gap: 2rem;
    padding: 0 2rem;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;
}

button:hover {
    background-color: white;
    /* text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black; */
    color: black;
    border: 1px solid black;
}

.field {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* gap: 1.5rem; */
    width: 100%;
    align-content: left;
}

.card {
    height: 210px;
    max-width: 250px;
    min-width: 250px;
    background-color: lightyellow;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px rgba(128,128,128,0.3);
    transition: all 0.7s ease;
    margin-left: 0.5rem;
}

.card:hover {
    margin-top: -10px;
}

.reading_meter {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
}

.reading_meter div {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.reading_meter div:first-child {
    background-color: orangered;
}

.reading_meter div:nth-child(2) {
    background-color: turquoise;
}

.reading_meter div:nth-child(3) {
    background-color: lightsalmon;
}

.reading_meter div:nth-child(4) {
    background-color: darkcyan;
}

.reading_meter div:last-child {
    background-color: #ff9800;
}

.delete_form, .clear_form {
    text-align: center;
    margin-top: 300px;
}

.input_form {
    text-align: center;
    margin: 45px 200px;
    font-size: 20px;
}

.input_form input{
    text-align: center;
    margin-bottom: 1rem;
    height: 20px;
}

.field {
    display: flex;
    align-items: center;
}

.input_form fieldset:first-child input {
    width: 70%;
}

.input_form label{
    margin-bottom: 1rem;
}

.input_form fieldset{
    margin-bottom: 0.5rem;
}

.display-hidden {
    display: none;
}

.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  width: 100%;
  margin: 0;
}
.site-footer hr
{
  border-top-color:#461111;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer a
{
  color:black;
  font-weight: bold;
}
.site-footer a:hover
{
  text-decoration:underline;
  color: darkgoldenrod;
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: darkgoldenrod;
}
.copyright-text
{
  margin:0;
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background: #000;
}
.social-icons a.medium:hover
{
  background-color:#000;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}