/* * {
    border: 1px solid black;
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    gap: 2rem;
    padding: 0 2rem;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;
}

button:hover {
    background-color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.field {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    height: 210px;
    background-color: whitesmoke;
    padding: 0 1rem;
    box-shadow: 5px 5px rgba(128,128,128,0.3);
    transition: all 0.7s ease;
}

.card:hover {
    margin-top: -10px;
}

.display-hidden {
    display: none;
}

.reading_meter {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
}

.reading_meter div {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.reading_meter div:first-child {
    background-color: orangered;
}

.reading_meter div:nth-child(2) {
    background-color: turquoise;
}

.reading_meter div:nth-child(3) {
    background-color: lightsalmon;
}

.reading_meter div:nth-child(4) {
    background-color: darkcyan;
}

.reading_meter div:last-child {
    background-color: #ff9800;
}

.delete_form, .clear_form {
    text-align: center;
    margin-top: 300px;
}

.input_form {
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}

.input_form input{
    text-align: center;
    margin-bottom: 1rem;
    height: 20px;
}

.input_form label{
    margin-bottom: 1rem;
}

.input_form fieldset{
    margin-bottom: 0.5rem;
}
